*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

#main{
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 40px;
    margin-right: 40px;


}
#para1{
    text-align: center;
    background-color: black;
    color:white;
    margin:40px 0px 40px 0px;
    padding:25px;
    font-size: 1.5em;
    line-height: 40px;
    border-radius: 20px;
}
#btn{
    border:0px;
    outline:0px;
    background-color: rgb(47,79,79);
    color:white;
    padding:10px;
    font-size:1.2em;
    border-radius: 5px;
    cursor: pointer;
}
