body{
    background-color: rgba(0,0,0,1.0);
    color:rgba(255, 255, 255, 1.0);
    text-align: center;
}
h1,h2,h4{
    color: rgba(128,128,128,1.0);
    

}
input{
    padding: 5px;
}
button{
    padding: 5px;
    background-color: rgba(128,128,128,1.0);
    color: rgba(255,255,255,1.0);
    border: rgba(255,255,255,1.0) solid 1px;
    cursor: pointer;
}
button:hover{
    background-color: rgba(0,0,0,1.0);
    color:  rgba(128,128,128,1.0);
    border: rgba(128,128,128,1.0) solid 1px;

}
ul{
    color: rgba(128,128,128,1.0);
    font-size: 18px;
    display: inline-block;
    margin: 0px;
    text-align: left;
    line-height: 23px;
    vertical-align: ;
}